body {
  background: #fff;
}

body.logged-in #navigation {
  margin-top: 110px;
}

.breadcrumb {
  margin-bottom: 15px;
}

/* newspaper landing page */
#block-bc-islandora-bc-islandora-newspaper {
  width: 960px;
  margin: auto;
}

.bulletin-calendar .inactive,
.exhibition-object.inactive {
    display: none;
}
.bulletin-calendar .active,
.exhibition-object.active {
    display: block;
}
.bulletin-calendar ul {
    list-style-type: none;
}

.bulletin-calendar .years ul {
  margin-left: 0px;
  padding-left: 0px;
}

.bulletin-calendar li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

#dl-links {
  margin-bottom: 10px;
}

#book-page-viewer {
  margin-top: 10px;
}

/* yearbook landing page */
#yearbook-nav span.year {
  margin:  0 10px 10px 0;
}

#yearbook-nav .decade {
  margin-left: 50px;
  margin-bottom: 25px;
}

/* exhibitions */
.view-id-exhibition {
  margin-top: 20px;
}

.view-id-exhibition .pager {
  margin-bottom: 50px;
}

.exhibition {
  width: 960px;
  height: 850px;
  float: left;
  overflow: hidden;
}

.exhibition-object {
  width: 960px;
  /*position: absolute;*/
}

.exhibition-object .object-description {
  float: left;
  margin-right: 20px;
  max-width: 340px;
}

.exhibition-object .object-image {
  float: right;
  max-width: 600px;
}

.exhibition .object-image .caption {
  font-size: 0.9em;
  display: block;
  margin-top: 5px;
}

.exhibition-object span.dc-link {
  display: block;
  margin-top: 5px;
}

#exhibition-nav {
  position: relative;
}

.exhibition-tn {
  float: left;
}

.exhibition-title {
  position: relative;
  left: 25px;
  top: 20px;
}

.exhibition-body {
  position: relative;
  left: 25px;
}

.exhibition-next {
  margin-left: 10px;
}

.node-exhibition {
  margin-bottom: 50px;
}

/* newspaper issue */
.islandora-newspaper-issue-navigator {
  display: block;
  margin-bottom: 10px;
}

.islandora-newspaper-object {
  margin-top: 0 !important;
}

/* collections landing page */
.landingpage-icon {
  float:left;
  width: 220px;
  height: 225px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.landingpage-icon h1 {
  font-size: 1.6em;
  margin-top: 2em;
}

.landingpage-icon p {
  width: 190px;
  padding-left: 15px;
}

.landingpage-icon a {
  text-decoration: none;
}

.landingpage-link {
  width: 200px;
}

.landingpage-icon#photos {
  background: url(/sites/all/modules/bc_islandora/img/photographsicon.jpg) no-repeat top left;
  height: 225px;
  width: 225px;
}

.landingpage-icon#bulletin {
  background: url(/sites/all/modules/bc_islandora/img/bulletinicon.jpg) no-repeat;
}

.landingpage-icon#yearbook {
  background: url(/sites/all/modules/bc_islandora/img/yearbookicon.jpg) no-repeat;
}

.landingpage-icon#exhibits {
  background: url(/sites/all/modules/bc_islandora/img/exhibiticon.jpg) no-repeat;
}

/* social media */
.socialmedia {
  display: block;
  margin-top: 20px;
  margin-bottom: 100px;
}

.socialmedia a {
  margin-right: 10px;
}

/* overriding DG theme styles */
#block-views-featured-block {
  /*top: -75px !important;
  right: 50px !important;*/
}

.islandora-openseadragon {
  width: 85% !important;
}
