body {
  background: #fff;
}

.breadcrumb {
  margin-bottom: 15px;
}

/* newspaper landing page */
.bulletin-calendar .inactive,
.exhibition-object.inactive {
    display: none;
}
.bulletin-calendar .active,
.exhibition-object.active {
    display: block;
}
.bulletin-calendar ul {
    list-style-type: none;
    margin-left: 0px;
}
.bulletin-calendar li {
    display: inline;
    margin: 0 0 10px 10px;
}

#dl-links {
  margin-bottom: 10px;
}

#book-page-viewer {
  margin-top: 10px;
}

/* yearbook landing page */
#yearbook-nav span.year {
  margin:  0 10px 10px 0;
}

/* exhibitions */
.exhibition {
  width: 960px;
  height: 850px;
  float: left;
  overflow: hidden;
}

.exhibition-object {
  width: 960px;
  /*position: absolute;*/
}

.exhibition-object .object-description {
  float: left;
  margin-right: 20px;
  max-width: 340px;
}

.exhibition-object .object-image {
  float: right;
  max-width: 600px;
}

.exhibition .object-image .caption {
  font-size: 0.9em;
  display: block;
  margin-top: 5px;
}

.exhibition-object span.dc-link {
  display: block;
  margin-top: 5px;
}

#exhibition-nav {
  position: relative;
}

.exhibition-next {
  margin-left: 10px;
}


/* newspaper issue */
.islandora-newspaper-issue-navigator {
  display: block;
  margin-bottom: 10px;
}

.islandora-newspaper-object {
  margin-top: 0 !important;
}