#ex-wrapper {
  margin-bottom: 100px;
}
#ex-nav {
  margin-bottom: 10px;
}
#ex-themes {
  margin-bottom: 20px;
}
#ex-themes a.theme {
  font-size: 1.05em;
  text-decoration: none;
  font-weight: bold;
  color: #767676;
  margin-right: 25px;
}
#ex-themes a.theme.active {
  color: black;
}


ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.simple-pagination li span,
.simple-pagination li a.page-link {
  margin-right: 5px;
}

.simple-pagination li .next,
.simple-pagination li .prev {
  text-decoration: none;
}

.ex-obj {
  clear: both;
  margin-bottom: 50px;
  display: none;
}
.ex-obj.active {
  display: block;
}
.ex-obj[data-layout="left"] .ex-images {
  float: left;
}
.ex-obj[data-layout="right"] .ex-images {
  float: right;
}
.ex-obj[data-layout="center"] .ex-images {
  padding: 0;
}
.ex-images {
  background: lightgrey;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.ex-images .large-image {
  margin-bottom: 20px;
}
.caption {
  font-size: 0.85em;
}
.ex-thumbnails a {
  margin-right: 10px;
}
.ex-thumbnails img.active {
  border: 1px solid #000;
}