#ex-nav {
  position: relative;
  top: 50px;
}

#ex-nav a {
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #fff;
  /*font-weight: bold;
  color: #fff !important;
  background: #535353;*/
  border: 3px solid;
  color: #000 !important;
}

#ex-nav a#prev {
  margin-right: 25px;
  border-right: 3px solid;
  padding-right: 15px;
}

#ex-nav a#next {
  border-left: 3px solid;
  padding-left: 15px;
  float: right;
}

#ex-nav a:hover,
#ex-nav a:active {
  /*color: #535353 !important;
  background: #fff;*/
  /*border-bottom: 3px solid;*/
  background: #000;
  color: #fff !important;
}

#ex-themes {
  margin-top: 10px;
}

#ex-themes a.theme {
  font-size: 1.05em;
  text-decoration: none;
  font-weight: bold;
  /*color: #767676;*/
  color: #73797F;
  padding: 5px;
  margin-right: 25px;
}

#ex-themes a.theme.active {
  /*color: #0f2d6b;*/
  color: #7AA3CC;
}

#ex-themes a.theme:active,
#ex-themes a.theme:hover {
  color: #2E3D4C;
  border-bottom: 3px solid;
}

.ex-obj {
  clear: both;
  margin-bottom: 50px;
  width: 85%;
  position: relative;
  left: 90px;
  display: none;
}
.ex-obj.active {
  display: block;
}
.ex-obj[data-layout="left"] .ex-images {
  float: left;
}
.ex-obj[data-layout="right"] .ex-images {
  float: right;
  margin-left: 25px;
}
.ex-obj[data-layout="center"] .ex-images {
  padding: 0;
}
.ex-images {
  background: #D0D0D0;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}
.ex-images .large-image {
  margin-bottom: 20px;
}
.caption {
  font-size: 0.85em;
}
.ex-thumbnails a {
  margin-right: 10px;
}
.ex-thumbnails img.active {
  border: 2px solid #0f2d6b;
}